h1 {
    text-align: center;
    color: #f5f9e9;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#main {
    display: flex;
    flex-direction: column-reverse;
}

.aside {
    width: 100%;
    /* border-right: 1px solid #f5f9e9; */
    /* margin-top: 3em; */
    margin: 1em 0 0.2em;
}

.section {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section > p {
    color: #f5f9e9;
    text-align: center;
}

#btn-create-new {
    border: 2px solid #f5f9e9;
    color: #f5f9e9;
    width: fit-content;
    padding: 1%;
    background-color: transparent;
}

#btn-create-new:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #f5f9e9;
}

h2 {
    text-align: center;
}

.packages {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.single-package {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 2px;
    border-color: #f5f9e9;
}

.single-package > button {
    border: 1px solid #f5f9e9;
    color: #f5f9e9;
    background: none;
    width: fit-content;
    margin: auto;
    border-radius: 5%;
    margin-bottom: 0.2em;
}

.single-package > button:hover {
    /* box-shadow: 0 0.5em 0.5em -0.4em #f5f9e9; */
    background-color: #404e5c;
}

.single-package > a {
    color: #f5f9e9;
    text-decoration: none;
}

.single-package > a:hover {
    text-decoration: underline #f5f9e9;
}

.info-pack {
    display: flex;
    justify-content: space-around;
}

.info-pack > span {
    color: #f5f9e9;
}

hr {
    margin: 0 1em 0.5em 1em;
    color: #f5f9e9;
}

table {
    width: auto;
    margin: 0.75em auto 0.75em;
    border-collapse: collapse;
}

th, td, tr {
    border: 1px solid #f5f9e9;
    padding: 0.5em;
}

td, th {
    color: #f5f9e9;
}

th {
    background-color: #404e5c;
}

@media  screen and (min-width:768px) {
    #main {
        display: flex;
        flex-direction: row;
    }

    .aside {
        width: 25%;
        margin-top: 2em;
        border-right: 0.05em solid #f5f9e9;
    }

    .section {
        width: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section > p {
        text-align: center;
    }

    .packages {
        width: 75%;
    }
    
}