.name-input {
    display: flex;
    flex-direction: column;
    width: 20%
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}

.existing-categories {
    display: flex;
}
