h1,h2 {
    color: #f5f9e9;
    text-align: center;
}

html, body {
    height: 100%;
}

#main {
    /* border: 1px solid green; */
    height: calc(100% - 120px);
    margin-top: 1em;
}

/* form > section {
    border: 1px solid black;
} */

form {
    /* border: 1px solid red; */
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* LEFT SECTION */

#left-section {
    border-right: 1px solid #f5f9e9;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f9e9;
}

#left-section > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-section > div > input{
    border: 2px solid #404e5c;
    background-color: #f5f9e9;
    text-align: center;
}

#name-input {
    /* border: 1px solid black; */
    height: 25%;
}

#category-input {
    /* border: 1px solid black; */
    height: 50%;
}

#status-input {
    /* border: 1px solid black; */
    height: 25%;
}

.existing-categories {
    margin-top: 0.25em;
}

#private-categories {
    display: flex;
    justify-content: center;
}

.existing-categories > button {
    background-color: transparent;
    color: #f5f9e9;
    border: 0.15em solid #f5f9e9;
    margin: 0em 0.5em 0em;
    /* padding: 0.2em; */
    border-radius: 0.5em
}

hr {
    margin: 0.5em 0 0.5em;
    width: 100%;
}

.existing-categories > button:hover {
    background-color: #404e5c;
}

.btn-status {
    margin: 0.5em 0.5em 0;
    background-color: transparent;
    color: #f5f9e9;
    border: 0.15em solid #f5f9e9;
}

.btn-status:hover {
    background-color: #404e5c;
}

.btn-clicked {
    background-color: #f5f9e9;
    color: #404e5c;
}

.btn-clicked:hover {
    background-color: #f5f9e9;
}

/* RIGHT SECTION */
#right-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards {
    overflow: auto;
}

.cards > div {
    margin: 0.5em;
}

.cards > div > input {
    border: 2px solid #404e5c;
    background-color: #f5f9e9;
    text-align: center;
}

#btn-more-cards {
    background-color: transparent;
    border: 2px solid #f5f9e9;
    color: #f5f9e9;
    width: fit-content;
    margin: 1em auto 1em;
}

#btn-more-cards:hover {
    background-color: #404e5c;
}

/* BTN SUBMIT */
#down-section {
    height: 20%;
    /* border: 1px solid magenta; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}   

#down-section > button {
    border: 0.15em solid #f5f9e9;
    color: #f5f9e9;
    background-color: transparent;
    transition: 0.2s;
    width: fit-content;
    padding: 0.5%;
}

#down-section > button:hover {
    /* transform: translateY(-0.25em); */
    box-shadow: 0 0.5em 0.5em -0.4em #f5f9e9;
}