@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

body {
    color: #f5f9e9;
}

hr {
    width: 75%;
    margin: 1em auto 1em;
    color: #f5f9e9;
}

.main-parts {
    text-align: center;
}

h3 {
    display: none;
}

h1,h2 {
    text-align: center;
}

/* TARJETAS TABLA */

.cards {
    margin: auto;
    width: 90%;
    border-bottom: 0.2em solid #404e5c;
    display: flex;
    flex-direction: row;
}


/* left */
.left {
    border: 1px solid khaki;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1%;
    border: none;
}

.left > div {
    width: 50%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.left > div > p {
    margin: 0.5em 0 0.5em;
    padding: 0 10% 0;
}

.card_a {
    justify-content: flex-end;
}

.card_b {
    justify-content: flex-start;
}

.edit-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    padding: 2% 0 2%;
}

.edit-div > form > input {
    text-align: center;
    background-color: #f5f9e9;
    border: 1px solid #404e5c;
    transform: scale(1);
    margin-bottom: 1%;
}

.edit-div > form > button {
    background-color: transparent;
    border: 0.15em solid #f5f9e9;
    color: #f5f9e9;
}

.edit-div > form > button:hover {
    background-color: #404e5c;
}


/* right  */
.right {
    border-bottom: none;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-edit-card {
    color: #f5f9e9;
    font-size: 80%;
    border: none;
    background-color: transparent;
}

.btn-edit-card:hover {
    text-decoration: underline #f5f9e9;
}

.btn-delete-card {
    font-family: "Roboto", sans-serif;
    transform: scale(1.25);
    background-color: transparent;
    border: none;
    color: #f5f9e9;
    
}

.btn-delete-card:hover {
    color: #db222a;

}
/* end  */

/* FOOTER */

#pack_header > span {
    margin: 0 1em 0;
    padding: 1px;
}

#btn-delete-pack {
    background-color: #e63946;
    border-color: #ff0000;
}

#pack_footer {
    padding: 1em;
    display: flex;
    justify-content: center;
}

#pack_footer > button {
    width: fit-content;
    margin: 0 0.5em 0;
    background-color: transparent;
    color: #f5f9e9;
    border-style: solid;
}

#btn-add-cards:hover {
    background-color: #404e5c;
    /* box-shadow: 0 0.5em 0.5em -0.4em #f5f9e9; */
}

#btn-delete-pack:hover {
    background-color: #404e5c;
    box-shadow: 0 0.5em 0.5em -0.4em #ff0000;
}

/* ADD NEW CARDS DIV + INPUTS  */
.new-card > button {
    margin: 0.5em auto 1em;
    width: fit-content;
    background-color: transparent;
    border: 0.15em solid #f5f9e9;
    color: #f5f9e9;
}

.new-card > button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #f5f9e9;
}

.single-newcard-div {
    padding: 0.5em;
}

.single-newcard-div > input {
    border: 0.15em solid #404e5c;
    background-color: #f5f9e9;
    text-align: center;
    margin: 0 0.5em 0;
}

@media screen and (min-width: 1000px) {
    .cards {
        width: 70%;
    }
}