h1 {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.question {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 500px;
    height: auto;
    border: 1px solid grey;
    padding: 1%;
    border-radius: 25px;
}

.question > p {
    margin-top: 0%;
}

button {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.score {
    width: fit-content;
    padding: 3px;
    margin: auto;
}
