.top_part {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
}

.x_gb-primary {
    background-color: #ffe14c;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold
}

/* .arancha {
    display: flex; 
    justify-content: end;
    flex-direction: row;
    align-items: center;
} */

/* .x_button {
    align-self: flex-end; comentar
    justify-self: flex-end;
    margin-left: 30%;
} */
