h1,h2{
    text-align: center;
    padding: 10px;
}

form {
    text-align: center;
}

input {
    width: 20%;
    padding: 4px;
    margin: 8px 0;
}

button {
    border-color: black;
    width: 7%;
    padding: 5px;
    border-radius: 8px;
    background-color: lightgrey;
    border-width: 1px;
}

.x_gb-primary {
    background-color: #ffe14c;
}