<!DOCTYPE html>
<html lang="en">
<head>
    <title>DB | {{name}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static',filename='index.css')}}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="static/index.css"> -->
</head>
<body>
    <h2>{{name.upper()}}</h2>
    <table>
        <thead>
            <tr>
                {%for k in info[0].keys()%}
                <th>{{k}}</th>
                {%endfor%}
            </tr>  
        </thead>
        <tbody>
            {%for person in info%}
            <tr>
                {%for v in person.values()%}
                <td>{{v}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>