<!DOCTYPE html>
<html lang="en">
<head>
    <title>NEW | {{person}}</title>
    <link href="{{url_for('static',filename='new.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CREATING A NEW</h1>
    <h2>{{person.upper()}}</h2>
    <form action={{url}} method="post">

        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="name">Email</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <button type="submit">Create</button>
    </form>
</body>
</html>